* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.common-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* nav */
.bg-image {
    display: flex;
    width: auto;
    height: 80px;

    /* test */
    background-color: blue;
}
.bg-image1 {
    /* test */
    background-color: blue;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 80px;
    /* test */
    background-color: greenyellow;
}

#logo {
    width: 130px;
    /* test */
    background-color: darkgreen;
}

#login {
    width: 130px;
    
    /* test */
    background-color: darkgreen;
}

#links {
    display: flex;
    align-items: center;
}

#links ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    
    /* test */
    background-color: greenyellow;
}

#links li {
    width: 65px;
    height: 35px;

    /* test */
    background-color: brown;
}
/* /nav */

/* header */
div.title-main {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: auto;
    padding-top: 120px;
    padding-bottom: 120px;

    /* test */
    background-color: blue;
}

/* test */
.title {
    width: 100%;
    height: 33%;
    background-color: black;
}
.paragraph-text {
    width: 100%;
    height: 33%;
    background-color: yellow;
}
.download-open {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    height: 33%;
    background-color: orange;
}

/* /header */

/* main */

div.section {
    display: flex;
    width: auto;
    height: 680px;

     /* test */
    background-color: blue;
}

    
div.big-section {
    display: flex;
    width: auto;
    height: 1100px;

    /* test */
    background-color: #f6f6f6;
}

div.small-section {
    display: flex;
    width: auto;
    height: 280px;

    /* test */
    background-color: #f6f6f6;
}

.section .row {
    display: flex;
    width: 100%;
    height: 680px;
    padding: 120px 0;


}

img {
    width: 678px;
    height: 440px;
    
    /* test */
    background-color: orange
}

.infoplus {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* test */
div.paragraph-title {
    width: 100%;
    height: 50%;
    background-color: black;
}
div.paragraph {
    width: 100%;
    height: 50%;
    background-color: yellow;
}

/* /main */

/* footer */

div.infos {
    display: flex;
    width: auto;
    height: 575px;
    padding-top: 80px;
    padding-bottom: 65px;
    background-color: #23272a;
}

/* /footer */